@model Producto
@{
    ViewData["Title"] = "Detalle Productos";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="row">
        <div class="col-2">
            <img src="@Model.urlImage" height="250" width="185"
                 style="border-radius: 5px; border: 1px solid #bbb9b9; "/>
        </div>
        <div class="col-10">
            <div class="mb-3">
                <label>Nombre</label>
                <input asp-for="Nombre" class="form-control" disabled>
            </div>
            <div class="mb-3">
                <label>Descripción</label>
                <input asp-for="Descripcion" class="form-control" disabled>
            </div>
            <div class="mb-3">
                <label>Cantidad</label>
                <input asp-for="cantidad" class="form-control" disabled>
            </div>
         
        </div>
    </div>
 

    <div class="row col-6">
       
        <div class="col-6 col-md-6">
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>


</form>

<p>Esta es la vista el detalle de productos</p>